.memberRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 12px 20px;
  margin: 10px auto;
  border-radius: 12px;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 850px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  box-sizing: border-box;
}

.pokemonInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.miniImg {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.name {
  font-weight: 600;
  color: #333;
  text-transform: capitalize;
  font-size: 15px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.countText {
  font-weight: bold;
  min-width: 25px;
  text-align: center;
  color: #d63384;
}

.removeBtn {
  margin-left: 10px;
}